.choose{
  width: 200px;
  border: 2px black dashed;
  margin-right:20px;
  height: 30px;
}

.color{
  width: 200px;
  border: 2px black dashed;
  height: 30px;
}

.input{
  display: flex;
  flex-wrap: wrap;
  height: 50%;
  width: 50%;
}

.input div{
  width: 30%;  
  height: 200px; 
  background-color: lightgray;
  margin-top: 10px;  
  box-sizing: border-box; 
  border: 3px black dashed;
}

.input div input{
  margin-top:50px;
  height: 100px;
  width: 80%;
}