doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Home Page
  body
    h1 Welcome to the Home Page

    form(action="/create-post", method="POST")
      label(for="name") Name:
      input(type="text", id="name", name="name", required)
      br
      br
      label(for="age") Age:
      input(type="number", id="age", name="age", required)
      br
      br
      button(type="submit") Submit

    if name && age
      h2 Submitted Data:
      p Name: #{name}
      p Age: #{age}
